<div class="row">

    <div class="col-md-3">
        <app-book-category></app-book-category>
    </div>
    <div class="col-md-9">
         <div class="row">
              <div class="col-md-12">
                 
<table class="table table-bordered">
    <thead class="bg-dark text-light">
        <tr>
            <th width="20%">Book Image</th>
            <th width="50%">Book Detail</th>
            <th width="30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartItem of cartItems">
            <td>
                <img [src]="cartItem.imageUrl" class="image-responsive" width="150px" height="200px" />
            </td>


            <td>
                <p>{{cartItem.name}}</p>
                <p>{{cartItem.unitPrice | currency:'INR'}}</p>
            </td>
            <td>
                <div col="row">
                    <div class="col-md-12">
                        <p>Quantity:{{cartItem.quantity}}</p>
                    </div>
                    <div class="col-md-12 mt-2">
                        <p>Subtotal:{{cartItem.quantity * cartItem.unitPrice | currency : 'INR'}}</p>
                    </div>
                </div>
                
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="font-weight-bold">
               <p>Total Quantity: {{totalQuantity}}</p>
               <p>Shipping Fee : Free</p>
               <p>Total Price : {{totalPrice | currency : 'INR'}}</p>
            </td>
        </tr>
    </tbody>
</table>
              </div>
         </div>
    </div>

</div>