@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


@font-face
{
    font-family: "Roboto Mono";
    src: url(/assest/fonts/Roboto_Mono/RobotoMono-Regular.ttf) format("truetype");
}
h1
{
    font-family: "Roboto Mono";
}

body  {
    padding-top: 56px;
  }
  body,html{
      height:100%;
  }
  .footer
  {
    position: absolute; 
    bottom: 0;  
    width: 100%;
    height: 60px;
    background-color:#0d0e0e;

  }
  .wrapper
  {
      min-height: 100%;
      position: relative;
  }
  .content
  {
      padding-bottom: 100px;
  }
  a, .pointer{
    cursor: pointer;
}