<div class="row">

    <!-- add book category component -->
    <div class="col-md-3">
        <app-book-category></app-book-category>
    </div>
    <!-- checkout form and cart items-->
    <div class="col-md-9">
        <div class="row">
            <!-- checkout form  -->
            <div class="col-md-8">
                <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                    <!-- Customer Info -->
                    <fieldset class="form-border">
                        <legend class="form-border">
                            <h3>Customer</h3>
                        </legend>
                        <div formGroupName="customer">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input formControlName="firstName" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input formControlName="lastName" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-9">
                                    <input formControlName="email" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- Shipping-Address -->
                    <fieldset class="form-border">
                        <legend class="form-border">
                            <h3>Shipping Address</h3>
                        </legend>
                        <div formGroupName="shippingAddress">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Street</label>
                                </div>
                                <div class="col-md-9">
                                    <input formControlName="street" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>City</label>
                                </div>
                                <div class="col-md-9">
                                    <input formControlName="city" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-5 mb-3">
                                    <label>Country</label>
                                    <select formControlName="country" class="custom-select d-block w-100">
                                        <option value="">Choose...</option>
                                        <option>United States</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label >State</label>
                                    <select formControlName="state" class="custom-select d-block w-100">
                                        <option value="">Choose...</option>
                                        <option>California</option>
                                    </select>
                                   
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Zip</label>
                                    <input type="text" formControlName="zipcode" class="form-control">
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <br/>
                 <div class="form-check">
                     <input type="checkbox" class="form-check-input"/>
                     <label>Billing Address is same as my Shipping Address</label>
                 </div>
                <br/>
                 <!-- billing info -->
                 <fieldset class="form-border">
                    <legend class="form-border">
                        <h3>Billing Address</h3>
                    </legend>
                    <div formGroupName="billingAddress">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label>Street</label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="street" class="form-control" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label>City</label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="city" class="form-control" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5 mb-3">
                                <label>Country</label>
                                <select formControlName="country" class="custom-select d-block w-100">
                                    <option value="">Choose...</option>
                                    <option>United States</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label >State</label>
                                <select formControlName="state" class="custom-select d-block w-100">
                                    <option value="">Choose...</option>
                                    <option>California</option>
                                </select>
                               
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>Zip</label>
                                <input type="text" formControlName="zipcode" class="form-control">
                            </div>

                        </div>
                    </div>
                </fieldset>
                    <!--  submit-button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Purchase</button>
                    </div>
                </form>
            </div>
            <!-- cart item  -->
            <div class="col-md-4">
                Cart Items
            </div>
        </div>
    </div>

</div>